wj-flex-chart(:items-source='chartData', binding-x='country')
	wj-flex-chart-series(name='Sales', binding='sales')
	wj-flex-chart-series(name='Expenses', binding='expenses')
	wj-flex-chart-series(name='Downloads', binding='downloads')