tabs
	tab(name='FlexChart', :selected='true')
		include samples/__flexchart.pug
	tab(name='FlexGrid')
		include samples/__flexgrid.pug
	tab(name='Gauge')
		include samples/__gauge.pug
	tab(name='Input')
		include samples/__input.pug